html {
    position: relative;
    min-height: 100%;
    color: forestgreen;
}
.body{
    margin-bottom: 60px;
    color: red;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    text-align: center;
    margin-top: -200px;
    color: red;
}


